body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/various-currencies-growth-charts-representing-600nw-2319760957.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}